@model CarViewModel

@{
    ViewData["PageTitle"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ProducingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.ProducingCountry)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
